<div class="container">
<div class="col-md-12"> 
      
    <div class="row">
           
           <div class="receipt-main col-xs-10 col-sm-20 col-md-100 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div>
                <h2 style="text-align: center;">{{hotel.hotelName}}</h2>
            </div>
               
               <div class="row">
                   <div class="receipt-header receipt-header-mid">
                       <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                           <div class="receipt-right">
                               <h5>Client Name: {{client.clientName}} </h5>
                               <p><b>Mobile :</b>{{client.contactNo}}</p>
                               <p><b>Address :</b> {{client.clientAddress}}</p>
                           </div>
                       </div>
                      
                   </div>
               </div>
               
               <div>
                   <table class="table table-bordered">
                       <thead>
                           <tr >
                               <th style="color: black;" >Description</th>
                               <th style="color: black;">Amount</th>
                           </tr>
                       </thead>
                       <tbody>
                        
                           <tr>
                               <td class="col-md-9">Accommodation: {{accommodation.accommodationType}}</td>
                               <td class="col-md-3"><i class="fa fa-inr"></i> {{accommodation.farePerDay| number:'.2'}}/-</td>
                           </tr>

                           <tr *ngFor="let service of services">
                            <td class="col-md-9">{{service.serviceType}}</td>
                            <td class="col-md-3"><i class="fa fa-inr"></i> {{service.amount| number:'.2'}}/-</td>
                        </tr> 
                           
                           <tr>
                              
                               <td class="text-right"><h2><strong>Total: </strong></h2></td>
                               <td class="text-left text-danger"><h2><strong><i class="fa fa-inr"></i> {{total|currency:'INR'}}/-</strong></h2></td>
                           </tr>
                       </tbody>
                   </table>
               </div>
               
               <div class="row">
                   <div class="receipt-header receipt-header-mid receipt-footer">
                       <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                           <div class="receipt-right">
                               <p><b>Date :</b> {{date | date:'dd-MM-yyyy'}}</p>
                               </div>
                       </div>
                       <div class="col-xs-4 col-sm-4 col-md-4">
                           <div class="receipt-left">
                               <h1>Stamp</h1>
                           </div>
                       </div>
                   </div>
               </div>
               <div>
                <button (click)="pay()" class="btn" style="background-color: rgb(141, 152, 222);">Pay</button>
                <button (click)="goToClientList()" class="btn" style="background-color: rgb(182, 226, 105); float: right;">return</button>
               </div>
           </div>    
       </div>
   </div>
</div>

